
@font-face{
	font-family:L;
	src:url(fuentes/L.ttf);
	}
	@font-face{
	font-family:X2;
	src:url(fuentes/X2.ttf);
	}
	
	
@font-face{
	font-family:ok;
	src:url(fuentes/ok.ttf);
	}
	
@font-face{
	font-family:dos;
	src:url(fuentes/dos.ttf);
	}
	
@font-face{
	font-family:nube2;
	src:url(fuentes/nube2.ttf);
}
	

.pex{
	font:50px nube2,verdana,sans-serif;
	margin-top:-30px;
}
	
.pla{
	font:45px nube2,verdana,sans-serif;
	margin-left:-50px;
	margin-top:-30px;

}

.claudio{
	  background-image: url('../img/a3.jpg');
	
}
.claudio2{
	  background-image: url('../img/f1.jpg');
	
}


.maximo{
color:#e0007d;
	font:bold 50px L,verdana,sans-serif;
	margin-left:-50px;
	margin-top:-1px;	
}

.julius{
	color:#9d2f00;
	font:bold 35px dos,verdana,sans-serif;
	
}

.cesar{
		color:#70006b;
	font:bold 22px X2,verdana,sans-serif;
	margin-right:120px;
	margin-top:10px;
}

.augusto{
	color:#4d2d00;
	font:bold 25px X2,verdana,sans-serif;
	margin-right:10px;
	margin-top:10px;
}

.romano{
	color:#006b00;
	font:bold 25px X2,verdana,sans-serif;
	margin-right:10px;
	margin-top:10px;
}

.pollo{
	color:#9500bb;
	font:bold 50px L,verdana,sans-serif;
	margin-left:-50px;
	margin-top:-1px;
}
.emperador{
	color: #df98ff;
	font:bold 28px ok,verdana,sans-serif;/*Anexión del estilo*/
	text-align:center;
	font-size:50px;
	text-shadow: 2px 2px 2px black;
	margin-top:-10px;
	
}

#A3{
	
	border-radius:20px;
	margin-left:30px;
}

#B1{
  border-radius:20px;
	
}

#Z1{
  width:200px;
  margin-left:50px;
  border-radius:20px;
	
}

.cesar2{
	color: #a6007d;
	font:bold 22px X2,verdana,sans-serif;
	margin-top:10px;
	margin-left:50px;
}


.video-container{
	border:3px solid;
	border-radius:5px;
	color:#228B22;
	height:0px;
	padding-bottom:56.25%;
	position:relative;
	background:#000000;

	
	/*position:relative;
	padding-bottom:56.25%;
	padding-top:20px;
	overflow:hidden;
	max-width:100%;*/
}


.video-container video{
	position:absolute;
	top:0px;
	height:100%;
	width:100%;
	/*position:absolute;
	top:0;
	left:0;
	width:100%;
	height:50%;*/
	 
 }

.uva{
	 color:white;
 }
 /*CAMBIAR LOS INDICADORES DEL SLIDER*/
.carousel-indicators .active{
    background-color: #4f0066;
	border-color:black;
	width:14px;
}

#title{
margin-left:-3px;	
}


